extends layout

block content
  div(id="info")
    span SCORE:
    span(id="killed") 0
    span(id="lives") Lives:
    span(id="canMiss") 10
  canvas(id="canvas", width="500px", height="500px")


  script(src="/javascripts/Game.js")
  script(src="/javascripts/Projectile.js")
  script(src="/javascripts/Player.js")
  script(src="/javascripts/Enemy.js")
  script(src="/javascripts/main.js")