extends layout

block content
  div(id="container")
      div(id="info")
        span SCORE:
        span(id="killed") 0
        span(id="lives") Lives:
        span(id="canMiss") 10
        span Level(max10):
        span(id="level") 1
      canvas(id="canvas", width="700px", height="600px")
      div(id="scores")
        table
            each val in result
                tr
                    td= val[0]
                    td= val[1]
      p(id="cover")
      div(id="levelInfo")
        table
          tr
            td
                span START GAME
          tr(id="continue")
            td
              button CONTINUE
          tr
            td
                button(id="startGame") START



  script(src="/javascripts/jquery-2.1.1.js")
  script(src="/javascripts/Game.js")
  script(src="/javascripts/Drop.js")
  script(src="/javascripts/Projectile.js")
  script(src="/javascripts/Player.js")
  script(src="/javascripts/Enemy.js")
  script(src="/javascripts/main.js")