body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#info {
    padding: 2px;
    border: black solid 2px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#info span {
    font-weight: bold;
    margin-left: 10px;
}

#container {
    margin: 0 auto;
    width: 50%;
}

#levelInfo {
    border: black solid 2px;
    padding: 5px;
    position: absolute;
    top: 350px;
    left: 700px;
}

#continue {
    display: none;
}